.fishList {
    background-color: mediumorchid;
}

.fish {
    background-color: mediumvioletred;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.fish__picture {
    max-width: 15rem;
    max-height: 15rem;
}

.fish__card {
    
}